.mywrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 100%;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2%;
    row-gap: 0.5rem;
    width: 80%;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
}

@media (max-width: 1100px) {
    .banner {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .banner {
        height: 200px;
    }
}


.productsContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: clamp(8px, 2vw, 32px);
    width: 100%;
}

.moreBtn {
    all: unset;
    cursor: pointer;

    padding-inline: 90px;
    padding-block: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(157, 154, 154);
}

.divider {
    width: 15%;
    height: 1px;
    background-color: rgb(193, 190, 190);
    margin-top: 0.5rem;
}

.category {
    all: unset;
    cursor: pointer;
    padding-inline: 90px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

@media (max-width: 1500px) {
    .mainContent {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .productsContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 700px) {
    .productsContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.contact {
    background-image: url('../assets/contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    background-image: url('../assets/about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .about {
        height: 300px;
    }

    .contact {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .about {
        height: 200px;
    }

    .contact {
        height: 200px;
    }
}