.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2%;
    row-gap: 0.5rem;
    width: 80%;

}

@media (max-width: 1500px) {
    .mainContent {
        width: 90%;
    }
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
}

@media (max-width: 1100px) {
    .banner {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .banner {
        height: 200px;
    }
}

.heartIcon {
    height: 30px;
    margin-left: 1rem;
}

.bestContainer {
    display: flex;
    align-items: center;
}

.spotTitle {
    font-family: '';
    letter-spacing: 5px;
}

.current {
    all: unset;
    cursor: pointer;
    padding-inline: 90px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.mynav {
    width: 100%;
}


.categories {
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;

    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.categories li {
    display: flex;
    align-items: center;
    justify-content: center;

}


.categories a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(157, 154, 154);
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 200;
    padding-block: 0.3rem;
    padding-inline: 0.7rem;
}